*{
    margin:0;
    padding:0;
}
.padding-for-nav{
    padding-left: 10rem;
    padding-right: 10rem;
}
/* .container1 .items{
    display: flex;
}
.container1 .item{
    display: flex;
} */
/* .container1 .item .imgs img{
    width: 30vw;
    height: 20vh;
} */

.container1{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    margin: 40px 200px 40px 200px;
}

.items{
    flex-basis: cal(33.33% - 10px);
    text-align: center;
    margin-bottom: 20px;
}

.myImage{
    width:350px;
    height:250px;
}

.container {
  max-width: 1200px;
  /* margin: 0 auto; */
  padding: 20px;
  margin-top: -80px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.gallery1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: -250px;
  }

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.item img {
  max-width: 100%;
  height: 100%;
}

.item1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.item2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.item3 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.item4 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.item5 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.item6 {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
}

.item7 {
  grid-column: 5 / 7;
  grid-row: 2 / 3;
}

.item8 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.item9 {
  grid-column: 3 / 7;
  grid-row: 1 / 3;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -250px 180px 20px 180px;
  }
  
.card {
flex-basis: calc(33.33% - 10px); /* Adjust this value as needed */
margin-bottom: 20px; /* Add some margin between the cards */
}

@media (max-width: 767px) { /* Adjust this breakpoint as needed */
.card {
    flex-basis: 100%; /* Make the cards take up the full width of the container */
}
}
.linkinfo{
    margin: 20px 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.other{
    margin: 20px 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer{
    background-color: #f5f5f5;
    padding:10px;
}

.corimg{
    width:100%;
    height: 80vh;
}